<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Inicio de Sesion</title>
</head>

<body style="background-image: url('resources/images/degradado.jpg');">
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <a href="/" class="nav__title">HorariosFacci</a>
            </div>

            <ul class="nav__link nav__link--menu">
                <li>
                    <a href="" class="nav__links">Contáctenos</a>
                </li>
                <li>
                    <a href="login" class="nav__links">Iniciar sesión</a>
                </li>
                <li>
                    <a href="register" class="nav__links">Registrarse</a>
                </li>
        </nav>
    </header>

    <form id="caja-login" action="login" method="post" name="form2">
        <h4>Iniciar sesión</h4>
        <input class="controls" type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Usuario" autofocus>
        <span id="c-error" aria-live="assertive"></span>

        <input class="controls" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
        <span id="p-error" aria-live="assertive"></span>

        <label>
            <p> ¿Eres nuevo por aquí? <a href="register">Regístrate</a> </p>
        </label>
        <input type="submit" class="send-button" value="Iniciar sesión">
        <span id="t-error" aria-live="assertive"></span>
    </form>

    <footer class="footer">
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="resources/images/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="resources/images/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="resources/images/youtube.svg" class="footer__img"></a>
            </div>
            <h3 class="footer__copyright">Derechos reservados &copy; HorariosFacci</h3>
        </section>
    </footer>
    <script src="resources/js/validacion_inicio_de_sesion.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert !="undefined" ) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                    window.location = '/<%= ruta %>'
                })
        </script>
    <% } %>

</body>

</html>